TE_API_KEY=<thousandeyes_token>
TE_AGENT=4

DEVICE_IP=<ip> # your IOS XE IP
DEVICE_PASSWORD=<password> # your IOS XE password
DEVICE_USERNAME=<username> # your IOS XE username
DEVICE_HOSTNAME=<hostname> # your IOS XE hostname
DEVICE_ID=<device uuid from Cat Center> # YOUR IOS XE UUID in Catalyst Center

MERAKI_API_KEY=<meraki key> # Your Meraki API key
MERAKI_SWITCH_SERIAL=<switch> # Your Meraki switch serial
MERAKI_AP_SERIAL=<ap> # Your Meraki AP serial

CC_USERNAME=<username> # Your Catalyst Center username
CC_PASSWORD=<password> # Your Catalyst Center password
CC_URL=<url> # your Catalyst Center URL